@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a>Learn about</a>
        <a href="Account/ForgetPassword"><input type="button" value="building Web apps with ASP.NET Core" /></a>
        <link rel="stylesheet" href="https://useiconic.com/open/">
        <i class="oi oi-account-login"></i>
        <span class="oi oi-account-login"></span>
    </div>
