@{
    ViewData["Title"] = "About drinks";
}

<body class="body-image">
<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="~/image/mohito.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mojito</h5>
            <p class="card-text" align="justify">
                Traditionally, a mojito is a cocktail that consists of five ingredients: white rum, sugar (traditionally sugar cane juice), lime juice, soda water, and mint.
                You can also buy author's mojitos with peach, mango, banana from us.
            </p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p align="justify">One glance at the millions of bubbles flickering in the glass is already soothing.</p>
            <footerlass ="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title">Ryu Murakami</cite>
                </small>
                </footer>
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/image/ginger.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Useful properties of drinks</h5>
            <p class="card-text" align="justify">
                We add healthy ingredients to our drinks. For example, Ginger root will be useful for colds, flu, cough, sore throat.
                It lowers blood cholesterol levels, improves cerebral circulation.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card bg-green text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p align="justify">
                If the drink is very good, then he is drawn to drink in one gulp, and drink everything tasty in small sips.
            </p>
            <footer class="blockquote-footer">
                <small>
                    <cite title="Source Title">
                        Vadim Nord
                    </cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                Our drinks are made with love
            </h5>
            <p class="card-text" align="justify">
                We add real berry puree to our drinks, not sugar syrup. We choose the very best for our drinks. We use 100% natural ingredients.
                We are not mass production. We are a workshop. Each recipe is an author's find.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p align="justify">If fate presents you with lemons, make lemonade out of them.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title">Dale Carnegie</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p align="justify">We want you to create your own world, follow your dreams and draw inexhaustible inspiration every moment of your life, as we do.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title">Our teams</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img" src="~/image/berries.jpg" alt="Card image">
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">We care about diversity</h5>
            <p class="card-text" align="justify">Every season we add unique new drinks to our menu. Also, the drinks menu is updated in accordance with the holidays. </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
</body>