@model List<BeverageMachine.Models.DrinkModel>
@{
    ViewBag.Title = "All drinks";
}
<form asp-action="selectalldrinks" asp-controller="home">
    <h3>В базе @Model.Count() элемента(ов)</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        @foreach (DrinkModel el in Model)
        {
            <tbody>
                <tr>
                    <td scope="col">@el.Id</td>
                    <td scope="col">@el.Name</td>
                    <td scope="col">@el.Amount</td>
                </tr>
            </tbody>
        }
    </table>
</form>
