@model List<BeverageMachine.Entity.Drink>
@{
    ViewBag.Title = "All drinks";
}
    <body class="body-image">
        <h1 class="white" align="center">We are pleased to offer you the following drinks</h1>
        @foreach (BeverageMachine.Entity.Drink drink in Model)
        {
            <div id="accordion">
                <div class="card bg-white">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-color" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>@drink.Name</strong>
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <strong>Цена: @drink.Amount; Доступное количество: @drink.Quantity;</strong>
                    </div>
                </div>
            </div>
        }
    </body>
