@model BeverageMachine.ViewModel.ForgetPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}
<link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet">
<div class="mycontainer" class="div-form" background="https://st4.depositphotos.com/13324256/21869/i/450/depositphotos_218693966-stock-photo-top-view-pomegranate-piece-seeds.jpg">
    <form class="form-style" method="post" asp-controller="Account" asp-action="ForgetPassword">
        <h2>Восстановление пароля</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="group">
            <input type="text" required asp-for="Email">
            <span asp-validation-for="Email" class="bar"></span>
            <label asp-for="Email">Email</label>
        </div>
        <div>
            <input type="submit" value="Отправить код" class="button" />
        </div>
    </form>
</div>
