@model BeverageMachine.ViewModel.ForgetPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_User.cshtml";
}

<form class="decor" method="post" asp-controller="Account" asp-action="ForgetPassword">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <div asp-validation-summary="ModelOnly"></div>
        <h3 align="center">Восстановление пароля</h3>
        <input type="email" placeholder="Email" required asp-for="Email">
        @*<span asp-validation-for="Email" class="bar"></span>
        <label asp-for="Email">Email</label>*@
        <input type="submit" value="Отправить код">
    </div>
</form>


