@model BeverageMachine.ViewModel.ResetPasswordViewModel
{
    ViewBag.Title = "Сброс пароля";
}
<div class="mycontainer" class="div-form" background="https://st4.depositphotos.com/13324256/21869/i/450/depositphotos_218693966-stock-photo-top-view-pomegranate-piece-seeds.jpg">
    <form class="form-style" method="post" asp-controller="Account" asp-action="ResetPassword">
        <h2>Сброс пароля</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="group">
            <input type="text" required asp-for="Email">
            <span asp-validation-for="Email" class="bar"></span>
            <label asp-for="Email">Email</label>
        </div>
        <div class="group">
            <input type="text" required asp-for="Password">
            <span asp-validation-for="Password" class="bar"></span>
            <label asp-for="Password">Пароль</label>
        </div>
        <div class="group">
            <input type="text" required asp-for="PasswordCompare">
            <span asp-validation-for="PasswordCompare" class="bar"></span>
            <label asp-for="PasswordCompare">Повторите пароль</label>
        </div>
        <div>
            <input type="submit" value="Сбросить пароль" class="button" />
        </div>
    </form>
</div>
